@import "fonts.css";

@layer base {
  * {
    outline: none !important;
    /* user-select: none; */
    /* -webkit-user-drag: none; */
  }
  
  html, body {
    font-family: isans, montserrat !important;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-weight: 400;
    @apply text-gray-700 bg-gray-100
  }
  
  main {
    @apply min-h-screen overflow-hidden;
  }
  
  i {
    color: inherit;
    font-size: 1rem;
  }
  
  .container-base {
    @apply px-4 mx-auto w-full;
  }
}
