#message-box-more-slider{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}



#clothe-message-slider{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 13;
    cursor: pointer;
}



#message-box-slider{
    z-index: 14;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}



.swiper-pagination{
    position: absolute !important;
}



.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}


.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}


.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}


.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-slide5{
    width: 6rem !important;
    height: 6rem !important;
    border-radius: 16px;
    height: max-content;
}


.mySwiper6{
    height: auto !important;
    width: 50% !important;
}


.mySwiper5{
    height: max-content !important;
    margin-top: 2rem;
}


.swiper-slide5 img{
    border-radius: 16px;
}