#sec1{
    margin: 0rem 1rem;
    background-color: white;
    border-radius: 15px;
    min-height: 100px;
    margin-bottom: 1.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#sec2{
    display: none;
    background-color: white;
    border-radius: 15px;
    min-height: 100px;
    margin-bottom: 1.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.special-class .iconsax {
    --Iconsax-Size:14px;
    --Iconsax-Color:#696969;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


input[type=number] {
    -moz-appearance: textfield;
}


#sec3{
    margin: 0rem 1rem;
    background-color: white;
    border-radius: 15px;
    min-height: 100px;
    margin-bottom: 1.5rem;
    padding: 3.5rem 7rem;
}


.div1-box-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.swiper {
    width: 100%;
    height: 31rem;
    border-radius: 16px;
}


.swiper-wrapper2{
    height: auto !important;
}


.swiper2 {
    width: 100%;
    overflow: hidden;
}


.div-left-box1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.span1-box1-slider{
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    color: #374151;
}


.span2-box1-slider{
    font-weight: 400;
    font-size: 10px;
    color: #808191;
}


.span3-box1-slider{
    width: 4px;
    height: 4px;
    margin: 0px 5px;
    background-color: #BDBDC7;
    border-radius: 15px;
}


.span4-box1-slider{
    font-weight: 400;
    font-size: 10px;
    color: #374151;
}



:is(.swiper-button-next , .swiper-button-prev){
    position: static;
    border: 1px solid black;
    font-size: 10px !important;
    border-radius: 50px;
    width: 30px !important;
    height: 30px !important;
    color: #000 !important;
    top: 93% !important;
    z-index: 11 !important;
    margin: 0rem 0.2rem !important;
}


.box-slider{
    width: 49.8%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.box-slider2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.padding-box-slider{
    padding: 2.5rem 2rem;
}


.padding-box-slider2{
    padding: 1.5rem 2rem;
}


.swiper-pagination{
    transform: rotate(270deg) !important;
    height: 31rem !important;
    width: 32rem !important;
    bottom: auto !important;
    left: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-pagination > span{
    width: 50%;
    border-radius: 0px;
}


.swiper-pagination2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem;
}


.swiper-pagination2 > span{
    width: 50%;
    height: 0.2rem;
    border-radius: 16px;
}


.swiper-button-prev{
    position: static !important;
}


.swiper-button-next{
    position: static !important;
}


:is(.swiper-button-next , .swiper-button-prev)::after{
    font-size: 13px !important;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.swiper {
    margin-left: auto;
    margin-right: auto;
}


.span-box2-slider{
    font-weight: 700;
    font-size: 34px;
    text-align: right;
    color: #000000;
}


.span-box2-slider2{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: #000000;
}


.div3-box-slider{
    text-align: right;
    margin-top: 1rem;
}


.div2-box-slider{
    text-align: right;
    margin-top: 2rem;
}


.div2-box-slider2{
    text-align: right;
    margin-top: 1rem;
}


.span-box3-slider{
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    color: #374151;
}


.center-nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-bytton-next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.box-swiper-button{
    display: flex;
    padding: 1rem;
}


.div4-box-slider{
    padding: 1.5rem 2rem;
}


.div4-box-slider2{
    padding: 1rem 2rem 3rem 2rem;
}


.button-box-slider{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: #3D42DF;
    border-radius: 16px;
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
}


#box-show-articles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.box-articles{
    width: 24%;
    background: #F8F9FB;
    border-radius: 16px;
    margin: 0.5rem 0rem;
}


.box-articles-mobile{
    width: 100%;
    margin: 0.5rem 0rem;
}


.padding-box-articles-mobile{
    background: #F8F9FB;
    border-radius: 16px;
    padding: 0.8rem 0.6rem;
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0rem;
}


.box-img-articles-mobile{
    display: flex;
    justify-content: right;
}


.box2-left-articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.div2-box-articles-mobile{
    display: flex;
    align-items: center;
}


.box-right-mobile{
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1rem;
}


.img-box-articles-mobile{
    height: 100%;
    border-radius: 16px;
}


.padding-box-articles{
    padding: 0.6rem;
}


.img-box-articles{
    width: 100%;
}


.box-left-mobile{
    width: 100%;
}


.articles-box-articles{
    font-weight: 700;
    font-size: 10px;
    background: #3D42DF;
    border-radius: 8px;
    color: #FFFFFF;
    width: 4.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
}


.articles-box-articles-mobile{
    font-weight: 700;
    font-size: 10px;
    background: #3D42DF;
    border-radius: 8px;
    color: #FFFFFF;
    width: 4.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-img-articles{
    position: relative;
}


.div2-box-articles{
    display: flex;
    margin: 1rem 0rem;
    align-items: center;
}


.span1-div2-box-articles{
    font-weight: 400;
    font-size: 10px;
    color: #808191;
}


.span3-div2-box-articles{
    font-weight: 400;
    font-size: 10px;
    color: #374151;
}


.span2-div2-box-articles{
    width: 5px;
    height: 5px;
    border-radius: 16px;
    background: #BDBDC7;
    margin: 0rem 8px;
}


.span1-div2-box-articles-mobile{
    font-weight: 400;
    font-size: 10px;
    color: #808191;
}


.span3-div2-box-articles-mobile{
    font-weight: 400;
    font-size: 10px;
    color: #374151;
}


.span2-div2-box-articles-mobile{
    width: 5px;
    height: 5px;
    border-radius: 16px;
    background: #BDBDC7;
    margin: 0rem 8px;
}


.header-articles{
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}


.header-box-articles-mobile{
    margin: 1rem 0rem;
}

.massage-articles{
    font-weight: 500;
    font-size: 10px;
    color: #808191;
}


.massage-box-articles{
    margin-top: 1rem;
}


#box-show-articles-mobile{
    display: none;
}


@media screen and (max-width : 1150px){
    .box-articles{
        width: 32%;
        background: #F8F9FB;
        border-radius: 16px;
        margin: 0.5rem 0rem;
    }
}


.selectParent {
    overflow: hidden;
    width: auto;
}

.selectParent select {
    text-indent: 1px;
    text-overflow: '';
    width: 15rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    border: none;
    background: transparent url("../../img/arrow-square-down.svg") no-repeat 1rem center;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #374151;
    background-color: #F8F9FB;
    border-radius: 16px;
    padding: 1rem;
}


.selectParent select:focus {
    border: none;
    outline: none;
}


.txt1-header-sec3{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}


#header-sec3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width : 1023px){
    #sec1{
        background-color: white;
        padding: 2rem 1rem;
        border-radius: 0px;
        display: none;
    }

    #sec2{
        background-color: white;
        border-radius: 0px;
        display: block;
    }

    #sec3{
        background-color: white;
        border-radius: 0px;
        display: block;
        padding: 1rem;
        margin: 0px;
    }
    #box-show-articles-mobile{
        display: block;
    }
    #box-show-articles{
        display: none;
    }
}


@media screen and (max-width : 1150px){
    .padding-box-slider{
        padding: 2.5rem 2rem 0.5rem 2rem;
    }
}