/* Wrapper */
.checkbox {
  @apply flex justify-start items-center gap-4;
}

/* Field */
.checkbox__field {
  @apply border border-gray-200 rounded-lg w-6 h-6 transition-all duration-150 ease-in-out relative inline-block cursor-pointer text-transparent leading-0 appearance-none;
  color: inherit;
}

/* Checked Icon */
.checkbox__field::before {
  content: "\f00c";
  font-family: "icomoon";
  font-weight: 300;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
}

/* Checked ::before */
.checkbox__field:checked::before {
  opacity: 1;
}

/* Label */
.checkbox__label {
  display: inline-block;
  cursor: pointer;
  transition: all .15s ease-in-out;
  margin-bottom: 0;
}

.checkbox--primary .checkbox__field:checked {
  @apply bg-primary text-white border-primary;
}