#sec1{
    background-color: white;
    border-radius: 15px;
    width: 72%;
    height: 32rem;
}


#sec2{
    background-color: white;
    border-radius: 15px;
    width: 27%;
    height: max-content;
}


#show-main {
    margin: 0rem 1rem;
    display: flex;
    justify-content: space-between;
}


#show-sec1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#show-header-sec1{
    width: 100%;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}


#header-sec1{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FB;
    border-radius: 16px;
    margin: 1rem 0rem;
}


#header-sec1-mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.box-item-header{
    padding: 1rem 1.5rem;
    font-weight: 400;
    font-size: 14px;
    color: #808191;
}


.box-item-header-mobile{
    width: 33%;
    padding: 1rem 0rem;
    font-weight: 400;
    font-size: 14px;
    color: #808191;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#box-item-header2-mobile{
    border-bottom: 2px solid #3D42DF;
}



#box-item-header1{
    background: #3D42DF;
    border-radius: 0px 16px 16px 0px;
    color: white;
    position: relative;
}


#box-item-header2{
    background: #3D42DF;
    color: white;
    position: relative;
    border-right: 2px solid #FFFFFF;
}


#icon-item1-header{
    position: absolute;
    left: -9px;
    top: 35%;
}


#header-sec1-mobile{
    display: none;
}


#box2-sec1{
    width: 100%;
}


#show-box2-sec1{
    display: flex;
    flex-direction: column;
}


#box1-top-sec1{
    display: flex;
    flex-direction: column;
    background-color: #F8F9FB;
    border-radius: 16px;
    padding: 1rem;
}


#box2-top-sec1{
    display: flex;
}


#show-box2-sec1{
    padding: 1rem;
}


#box-right-top{
    width: 9.5rem;
    height: 9.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-left: 1rem;
    border: 5px solid white;
}


#img-box-right-top{
    width: 100%;
    height: 100%;
}


#box3-topsec1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#box-left-box3{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 1rem;
}


#txt1-box-left-box3{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}


#txt2-box-left-box3{
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}


#box-right-box3{
    background-color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#box-counter{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin: 0rem 0.5rem;
}


.box-plus{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #3D42DF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
}


#show-sec3{
    padding: 1rem;
}


#header-sec3{
    max-width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}


#txt2-header{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-top: 0.9rem;
}



#massage-header{
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #F1F1F1;
}


#box1-massage{
    background: #F7F7FA;
    border-radius: 16px;
    padding: 0.8rem;
    margin: 1rem 0rem;
}


.txt1-box-massage{
    font-weight: 400;
    font-size: 12px;
    color: #374151;
}


.txt2-box-massage{
    font-weight: 700;
    font-size: 14px;
    color: #374151;
}


.txt3-box-massage{
    font-weight: 500;
    font-size: 12px;
    color: #808191;
}


.box-massage{
    display: flex;
    justify-content: space-between;
}


#box-massage2{
    border-top: 1px solid #BDBDC7;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}


#header-massage{
    font-weight: 700;
    font-size: 16px;
    color: #374151;
}


#button-sec3{
    background: #3D42DF;
    border-radius: 16px;
    width: 100%;
    border: none;
    height: 3.5rem;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}


#item-header{
    margin-top: 1rem;
}



.box-item{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}


.box-img1-box-right{
    width: 3.8rem;
    height: 3.8rem;
}


.img1-box-right{
    width: 100%;
    height: 100%;
}


.txt1-box-right{
    font-weight: 500;
    font-size: 10px;
    color: #808191;
}



.box-right-item{
    display: flex;
    align-items: center;
}


.txt1-box-right{
    margin-right: 1rem;
}



.txt1-box-left{
    font-weight: 700;
    font-size: 12px;
    color: #374151;
}


.txt2-box-left{
    font-weight: 500;
    font-size: 10px;
    color: #808191;
    margin-right: 0.3rem;
}


.box-left-item{
    display: flex;
    align-items: center;
}



.container {
    display: block;
    position: relative;
    padding-right: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #374151;
    width: max-content;
}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: white;
    outline: 1px solid #3D42DF;
    border: 2px solid white;
    border-radius: 5px;
}


.container:hover input ~ .checkmark {
    background-color: white;
}


.container input:checked ~ .checkmark {
    background-color: #3D42DF;
    content: "";
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: none;
    content: "";
}


.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#box-off{
    width: 100%;
    height: 4rem;
    position: relative;
    margin: 1rem 0rem;
    margin-bottom: 2rem;
}


#input-off{
    background: #F8F9FB;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    color: #808191;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 0rem 1rem;
}


#btn-off{
    height: 3rem;
    width: 7rem;
    border: none;
    cursor: pointer;
    background-color: #3D42DF;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    left: 1rem;
    top: .5rem;
}


:is(#input-off:focus,#input-off:hover){
    border: none;
    outline: none;
}


.box-readio-box-filter{
    padding: 1rem 1rem;
    font-weight: 500;
    font-size: 12px;
    color: #374151;
    display: flex;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
    background: #F8F9FB;
    border-radius: 16px;    
    margin: 1rem 0rem;
}


.box-readio-box{
    margin: 0.8rem 0rem;
    display: flex;
    align-items: center;
}


.txt-radio-box{
    font-weight: 500;
    font-size: 12px;
    color: #374151;
    margin-right: 0.5rem;
    display: flex;
    cursor: pointer;
}


.radio1{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}


.radio1:checked::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #3D42DF;
    position: absolute;
    top: 2px;
    left: 2px;
}


.radio1:checked::before{
    border-radius: 4px;
}


.radio1{
    width: 20px;
    height: 20px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
}



.box-left-radio{
    display: flex;
    flex-direction: column;
    margin-right: 0.7rem;
    font-weight: 500;
    font-size: 12px;
    color: #808191;
}


.txt1-box-left-radio{
    font-weight: 700;
    font-size: 14px;
    color: #374151;
}


@media screen and (max-width : 1150px){
    #sec1{
        width: 67%;
    }

    #sec2{
        width: 32%;
    }
}



@media screen and (max-width : 1023px){
    #sec1{
        background-color: white;
        border-radius: 0px;
        width: 100%;
    }

    #sec2{
        background-color: white;
        border-radius: 0px;
        width: 100%;
        margin-top: 2rem;
    }

    #show-main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0px;
    }

    #header-sec1{
        display: none;
    }

    #header-sec1-mobile{
        display: flex;
    }

    #box-right-top{
        min-width: 6.5rem;
        height: 6.5rem;
    }
}