#sec1{
    display: flex;
    justify-content: space-between;
}


#sec-left{
    width: 78%;
    min-height: 37rem;
    background-color: white;
    border-radius: 16px;
}


#sec-right{
    width: 21%;
    height: 37rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


#sec-right-top{
    width: 100%;
    height: 3.5rem;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}


#sec-right-bottum{
    width: 100%;
    max-width: 100%;
    height: 33rem;
    background-color: white;
    border-radius: 16px;
}


#padding-sec-right-bottum{
    padding: 1rem;
}


#div1-sec-right{
    max-width: 100%;
    background: #F8F9FB;
    border-radius: 16px;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}


#text-d1-sec-right{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    padding: 0.7rem 1rem 0rem 0rem;
}


.icon-exit{
    margin-left: 0.6rem;
}


#div2-sec-right{
    margin-top: 0.6rem;
    max-width: 100%;
    background: #F8F9FB;
    border-radius: 16px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}


#img-d2-sec-right{
    width: 2.5rem;
    height: 2.5rem;
    background: #FFBC00;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}


#text1-d2-sec-right{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-left: 0.3rem;
}


#text2-d2-sec-right{
    font-weight: 500;
    font-size: 16px;
    color: #374151;
}


#button-d2-sec-right{
    background: #3D42DF;
    border: 1px solid #3D42DF;
    border-radius: 8px;
    color: white;
    width: 5rem;
    height: 1.8rem;
    height: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#box2-div2-sec-right{
    display: flex;
    justify-content: center;
    align-items: center;
}


#div3-sec-right{
    margin: 1.5rem 2rem 0rem 2rem;
    max-width: 100%;
}


.item-menu{
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0rem 1rem;
}


li{
    display: flex;
    align-items: center;
}


#item1-menu{
    background: #3D42DF;
    color: white;
}


.img-item-menu{
    margin-left: 0.8rem;
}


#item5-menu{
    border-bottom: 2px solid #F1F1F1;
    border-radius: 0px;
}


#box-sec-left{
    padding: 1rem;
}


#box-top-left{
    display: flex;
    justify-content: space-between;
}


.item-box-top{
    width: 49%;
    height: 4.5rem;
    background: #F8F9FB;
    border-radius: 16px;
}


#item-box-top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#box-right-item-right{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#img1-box-right{
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #FFBC00;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#txt1-box-right{
    font-weight: 500;
    font-size: 16px;
    color: #374151;
}


#box-left-item-left{
    display: flex;
    justify-content: center;
    align-items: center;
}


#txt2-box-right{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}


#txt3-box-right{
    font-weight: 500;
    font-size: 16px;
    color: #374151;
    margin-left: 1rem;
    margin-right: 0.3rem;
}


#box-item-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#box2-item-left{
    width: 100%;
    padding: 1rem;
    position: relative;
}


#inp1-box-item-left{
    width: 100%;
    height: 3rem;
    font-size: 16px;
    padding-right: 1rem;
    border: none;
    background-color: #F8F9FB;
}


:is(#inp1-box-item-left:focus,#inp1-box-item-left:hover){
    border: none;
    outline: none;
}


#btn1-box-item-left{
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: #3D42DF;
    border-radius: 16px;
    border: none;
    width: 11rem;
    height: 3rem;
    cursor: pointer;
    color: white;
}


#box1-bottom-left{
    font-weight: 700;
    font-size: 22px;
    color: #374151;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-bottom: 2px solid #F1F1F1;
}


.month{
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF;
}


.date{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: -5px;
}


.date-box{
    background: linear-gradient(218.66deg, #0038FF 5.33%, #FFBC00 96.44%);
    border-radius: 16px;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.box-transaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8F9FB;
    border-radius: 16px;
    padding: 0.8rem 1rem;
    margin: 1rem 0rem;
}


.right-box-transaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box1-bo-tr{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #BDBDC7;
    margin-left: 1.5rem;
}


.box-transaction-mode{
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-box-tran-mode{
    margin-right: 0.5rem;
    margin-left: 8rem;
}


.txt-box2-bo-tr{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}


.left-box-transaction{
    background: #009829;
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0.6rem 1.7rem;
}


.bardasht{
    background: #3D42DF !important;
}


@media screen and (max-width : 1300px){
    #sec-left{
        width: 70%;
    }

    .text-box-tran-mode{
        margin-left: 1rem;
    }

    #sec-right{
        width: 29%;
    }
}



@media screen and (max-width : 1023px){
    #sec-right-top{
        margin: 0rem 1rem 1rem 1rem;
        width: auto;
    }

    #sec1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #sec-right{
        width: 100%;
    }

    #sec-left{
        width: 100%;
        border-radius: 0px;
        margin-top: 1.5rem;
    }

    #sec-right-bottum{
        border-radius: 0px;
    }

    #box-top-left{
        flex-direction: column;
    }

    .item-box-top{
        width: 100%;
    }

    #item-box-top-right{
        margin-bottom: 1rem;
    }
}


@media screen and (max-width : 750px){
    .box-transaction{
        flex-direction: column;
        justify-content: left;
        align-items: end;
    }

    .right-box-transaction{
        flex-direction: column;
    }

    .box1-bo-tr{
        border: none;
    }

    .box1-bo-tr{
        justify-content: right;
    }

    .right-box-transaction{
        align-items: flex-start;
        justify-content: right;
        width: 100%;
    }

    .box2-bo-tr{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #BDBDC7;
        border-radius: 16px;
        margin: 1rem 0rem;
        height: auto;
    }

    .txt-box2-bo-tr{
        padding: 1rem;
    }
}