#sec1{
    display: flex;
    justify-content: space-between;
}


#sec-left{
    width: 78%;
    min-height: 37rem;
    background-color: white;
    border-radius: 16px;
}


#sec-right{
    width: 21%;
    height: 37rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


#sec-right-top{
    width: 100%;
    height: 3.5rem;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}


#sec-right-bottum{
    width: 100%;
    max-width: 100%;
    height: 33rem;
    background-color: white;
    border-radius: 16px;
}


#padding-sec-right-bottum{
    padding: 1rem;
}


#div1-sec-right{
    max-width: 100%;
    background: #F8F9FB;
    border-radius: 16px;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}


#text-d1-sec-right{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    padding: 0.7rem 1rem 0rem 0rem;
}


.icon-exit{
    margin-left: 0.6rem;
}


#div2-sec-right{
    margin-top: 0.6rem;
    max-width: 100%;
    background: #F8F9FB;
    border-radius: 16px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}


#img-d2-sec-right{
    width: 2.5rem;
    height: 2.5rem;
    background: #FFBC00;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}


#text1-d2-sec-right{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-left: 0.3rem;
}


#text2-d2-sec-right{
    font-weight: 500;
    font-size: 16px;
    color: #374151;
}


#button-d2-sec-right{
    background: #3D42DF;
    border: 1px solid #3D42DF;
    border-radius: 8px;
    color: white;
    width: 5rem;
    height: 1.8rem;
    height: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#box2-div2-sec-right{
    display: flex;
    justify-content: center;
    align-items: center;
}


#div3-sec-right{
    margin: 1.5rem 2rem 0rem 2rem;
    max-width: 100%;
}


.item-menu{
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0rem 1rem;
}


li{
    display: flex;
    align-items: center;
}


.img-item-menu{
    margin-left: 0.8rem;
}


#item5-menu{
    border-bottom: 2px solid #F1F1F1;
    border-radius: 0px;
}


#box-sec-left{
    padding: 1rem;
}


#box-top-left{
    display: flex;
    justify-content: space-between;
}


.item-box-top{
    width: 49%;
    height: 4.5rem;
    background: #F8F9FB;
    border-radius: 16px;
}


#item-box-top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#box-right-item-right{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#img1-box-right{
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #FFBC00;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#txt1-box-right{
    font-weight: 500;
    font-size: 16px;
    color: #374151;
}


#box-left-item-left{
    display: flex;
    justify-content: center;
    align-items: center;
}


#txt2-box-right{
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}


#txt3-box-right{
    font-weight: 500;
    font-size: 16px;
    color: #374151;
    margin-left: 1rem;
    margin-right: 0.3rem;
}


#box-item-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#box2-item-left{
    width: 100%;
    padding: 1rem;
    position: relative;
}


#inp1-box-item-left{
    width: 100%;
    height: 3rem;
    font-size: 16px;
    padding-right: 1rem;
    border: none;
    background-color: #F8F9FB;
}


:is(#inp1-box-item-left:focus,#inp1-box-item-left:hover){
    border: none;
    outline: none;
}


#btn1-box-item-left{
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: #3D42DF;
    border-radius: 16px;
    border: none;
    width: 11rem;
    height: 3rem;
    cursor: pointer;
    color: white;
}


#box1-bottom-left{
    font-weight: 700;
    font-size: 22px;
    color: #374151;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-bottom: 2px solid #F1F1F1;
}


.box-left{
    padding: 2rem 1rem;
}


.box-header{
    padding-bottom: 1rem;
    border-bottom: 2px solid #F1F1F1;
    margin-bottom: 1rem;
}


.item-box-header{
    height: 100%;
    padding-bottom: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}


.header-active{
    border-bottom: 3px solid #3D42DF;
}


.item1-box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-img1-box1{
    min-width: 7.5rem;
    min-height: 7.5rem;
    margin-left: 1rem;
}


.box-left-box1{
    width: 100%;
    height: 5.5rem;
    border-radius: 16px;
    background: #F8F9FB;
    font-weight: 700;
    font-size: 14px;
    color: #374151;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.btn1-box1-left{
    background: #F8F9FB;
    border: 1px solid #3D42DF;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #3D42DF;
    width: 15rem;
    height: 3.5rem;
    cursor: pointer;
}


.img1-box1{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}


.box-right-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}


.box1-right-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box1-right-box2{
    background: linear-gradient(218.66deg, #0038FF 5.33%, #FFBC00 96.44%);
    border-radius: 16px;
    min-width: 3.3rem;
    min-height: 3.3rem;
    margin-left: 0.7rem;
}


.txt1-box2-right-box2{
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}


.txt1-box1-right-box2{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}


.txt2-box1-right-box2{
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF;
}


.item2-box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-left-box2{
    width: 100%;
    background: #F8F9FB;
    min-height: 5rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
}


.box-star{
    display: flex;
}


.txt1-box2-left{
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}


.img-box2-left{
    position: absolute;
    left: 0px;
    bottom: 0px;
}


.hide-box{
    display: none !important;
}


#box-comments-mudal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 16;
}


#comments-mudal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#clothe-comments-mudal{
    width: 100%;
    height: 100%;
    z-index: 17;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


#massage-comments-mudal{
    width: 28rem;
    background-color: white;
    z-index: 18;
    padding: 1rem;
    border-radius: 16px;
}


.hide-comments-mudal{
    display: none !important;
}


#massage-comments-mudal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#div1-box-mas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: right;
}


#txt1-div1-box-mas{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #374151;
}


#txt2-div1-box-mas{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #808191;
}


#div2-box-mas{
    width: 100%;
    height: 11rem;
    background: #F8F9FB;
    border-radius: 16px;
    margin: 1rem 0rem;
    padding: 1rem;
    border: none;
    resize: vertical;
}


#div3-box-mas{
    width: 100%;
    background: #F8F9FB;
    border-radius: 16px;
    margin-bottom: 1rem;
}


#div2-box-mas:focus{
    border: none;
    outline: none;
}


#div2-box-mas:hover{
    border: none;
    outline: none;
}


#div4-box-mas{
    background: #3D42DF;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    height: 2.8rem;
    width: 60%;
    border: none;
    cursor: pointer;
}


.star-4{
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}


.hide-star{
    display: none !important;
}


#box-div3{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#box-div3 > span{
    margin-bottom: 1rem;
}


#item4-menu:hover{
    color: white !important;
}




@media screen and (max-width : 1023px){
    #sec-right-top{
        margin: 0rem 1rem 1rem 1rem;
        width: auto;
    }

    #sec1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #sec-right{
        width: 100%;
    }

    #sec-left{
        width: 100%;
        border-radius: 0px;
        margin-top: 1.5rem;
    }

    #sec-right-bottum{
        border-radius: 0px;
    }

    #box-top-left{
        flex-direction: column;
    }

    .item-box-top{
        width: 100%;
    }

    #item-box-top-right{
        margin-bottom: 1rem;
    }
}


@media screen and (max-width : 750px){
    .box-img1-box1{
        display: none;
    }
    .box-left-box1{
        flex-direction: column;
    }
    .item2-box-bottom{
        flex-direction: column;
    }
    .box-right-box2{
        width: 100%;
        justify-content: right;
        margin: 0rem 1rem 1rem 0rem;
    }
    .box-left-box2{
        width: 95%;
    }
    #massage-comments-mudal{
        width: 21rem;
    }
}


@media screen and (max-width : 400px){
    #massage-comments-mudal{
        width: 17rem;
    }
}